.App {
  margin:auto;
  padding: 1%;
  margin-top: 1%;
  background-color:dimgray;
  font-family: 'Gill Sans';
  width: 50%;
  text-align: center;
}

.navbar button{
color:dimgrey;
font-size: 25px;
margin: 1%;
}